<script type="text/javascript">
		$(function() {
		    var BV = new $.BigVideo();
		    BV.init();
		    BV.show('http://ia601605.us.archive.org/0/items/NycTrafficTimeLapse/NycTrafficH264.mp4',{ambient:true});
		});
   </script>
<div class="userloginwrapper" style='z-index:1'>
	<div class="userlogintitle">
<h1>Log in</h1>
	</div>
	<%= render 'shared/login' %>
</div>


<div class='column-wrapper'>
	<div class='column1'>
		<h1>What We Do</h1>
		<p>FoundIt is a platform used to help finders of a lost item return it to their rightful owners.  Millions of dollars worth of items are lost every year never to be found again.  Our mission is to let good samaritans shine and help them contact owners directly to return their items.</p>
		<p>You might be asking "why not just post on facebook, craigslist, twitter etc?".  To answer this question you must understand the limitiations of social platforms.  If an owner of an item loses something, unless the owner has a wide social media audience this information will reach a limited amount of users.  FoundIt instead is a lost item network, helping users reach out to each other and return their precious possessions.  Right now we are limited to the NY area's major Airports.</p>
		<p><i class="fa fa-plane fa-5x"></i></p>
	</div>
	<div class='column2'>
		<h1>How it Works</h1>
		<p>FoundIt requires a user to sign up.  Once the user is signed up all site features are available to them free of charge.  Once a user has found a lost item, they can make a post about it.  The post consists of the item name, which airport it was found in, a little more detailed description of where in the airport it was found, a picture of the item and finally a verification question and answer.</p>
		<p>The question is a form of validation and should be as specific as possible and which only the owner would know the answer to.  For example, if a wedding ring was lost and there was an engraving in the back of the ring only the owner would know what it said.  If a user answers the question correctly, they are then met with a form to notify the user that the item is indeed theirs and arrangements can be made to return the item.</p>
		<p><i class="fa fa-cogs fa-5x"></i></p>
	</div>
	<div class='column3'>
	<h1>Why should you join FoundIt?</h1>
	<p>	It's awesome being a nice person.  Finding a wallet full of money is great, but think about the person who is frantic, searching everywhere for their most valuable items.  It all comes back around, and the owners of these lost items will be forever grateful you reached out to them and who knows maybe FoundIt or the owners of the item you returned will reward you as well!</p>
	<p>Happy Finding!</p>
	<p><i class="fa fa-money fa-5x" style='margin-top:95px;'></i></p>
	</div>
</div>
