
<div class="airportslistwrapper">
	<div class="airportnamelist">
	List of Airports in New York 
	</div>
<ul>
	<% @airports.each do |x| %>
		<li style="margin-top: 5px;"><%=link_to x.name, airport_path(x) %></li>
<% end %>
</ul><br />
<div class='formbuttons'><%= link_to 'Add an airport!', new_airport_path %></div>
</div>

