/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html{
	margin: 0;
}

body{
	margin: 0;
	background-color: #FFF;
	font-family: 'Roboto', sans-serif;
}

.alert{
	color: red;
	background-color: white;
	width: 100%;
}
.notice{
	color: white;
	background-color: black;
	margin: 0;
	width: 100%;
}


ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.nav{
	background-color:  #3A3A40;
	padding-left: 15px;
	color: white;
	margin-top: 0px;
	width: 100%;
	z-index:1;
	padding-bottom: 5px;
	position: fixed;
	top:0;
}

a:link{
	color:#FFF4DC;
	text-decoration: none;
}
a:visited{
	color: #FFF4DC;
	text-decoration: none;
}
a:hover{
	font-weight: bold;
}
.text_field{
	border-radius: 10px;
	height: 20px;
	margin-bottom: 10px;
}
.text_field_big{
	border-radius: 10px;
	height: 40px;
	margin-bottom: 10px;
	width: 150px;
}
.formbuttons{
	background-color: #3A3A40;
	color:#FFF4DC;
	border-radius: 20px;
}
#big-video-wrap{
	z-index:-1;
	position: absolute;
}