// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
	background-color: #FFECEC;
}

.postwrapper{
	text-align: center;
	background: #AEAEBF;
	width: 500px;
	border-radius: 20px;
	margin-left: 30%;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-bottom: 10px;
}
.head{
	text-align: center;
	background-color: #3A3A40;
	width: 500px;
	border-radius: 20px;
	margin-left: 30%;
	color: #FFF;
}
.posttitle{
	padding-bottom: 15px;
	background: #3A3A40;
	color: white;
	width: 500px;
	text-align: center;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	padding-top: 10px;
}
.postbodystyling{
	padding-top: 15px;
	color: white;
}

.userpostwrapper{
	text-align: center;
	background-color: #AEAEBF;
	width: 500px;
	margin-left: 30%;
	border-radius: 20px;
	color: #FFF;
	margin-top: 55px;


}

.userposttitle{
	background-color: #3A3A40;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	color: #FFF;
}

.postimage{
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 20px;
}
.formquestion{
	padding-top: 10px;
	padding-bottom: 10px;
}

.btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #FFF;
  font-size: 20px;
  background: #3A3A40;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  width: 50px;	
  margin-left: 41%;
}

.poststatus{
	text-align: center; 
	color: #FFF;
	margin: 0;
}
.poststatusun{
	text-align: center;
	color: #E5000B;
	margin: 0;
}
