// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profilepageavatar{
	margin-left: 30px;
	margin-top: 25px;
	position: absolute;
	img {
			border-radius: 30%;
		}
}

.useritemwrapper{
	margin-bottom: 50px;
	text-align: center;
	background: #AEAEBF;
	width: 500px;
	border-radius: 20px;
	margin-left: 40%;
	margin-top: 80px;
}
.useritemstitle{
	
	background: #3A3A40;
	color: white;
	width: 500px;
	text-align: center;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;

}

.userpostsstyle{
	color: white;
}

.userbiowrapper{
	margin-bottom: 50px;
	text-align: center;
	background: #AEAEBF;
	width: 300px;
	border-radius: 20px;
	margin-left: 2%;
	margin-top: 275px;
	color: #FFF;
	position: absolute;
}
.userbiotitle{
	background: #3A3A40;
	color: white;
	width: 300px;
	text-align: center;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}
.column-wrapper{
	background-color: #3A3A40;
	color: #FFF;
	opacity: 0.75;
	margin-top: 20px;
	height: 400px;
}
.column1{
	display: inline;
	float: left;
	background-color: #3A3A40;
	width: 33%;
	text-align: center;
	border-right: solid 1px black;
	font-size: .85em;
}
.column2{
	display: inline;
	float: left;
	background-color: #3A3A40;
	width: 33%;
	text-align: center;
	border-right: solid 1px black;
	font-size: .85em;
}
.column3{
	text-align: center;
	font-size: .85em;
	padding-top: 1px;
}
.userloginwrapper{
	text-align: center;
	background-color: #AEAEBF;
	width: 500px;
	margin-left: 30%;
	border-radius: 20px;
	color: #FFF;
	margin-top: 55px;
	opacity: .75;

}
.userlogintitle{
	background-color: #3A3A40;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	color: #FFF;
	opacity: .95;
}