// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.head{
	text-align: center;
}

.useritems{
	background-color: #A76767;
	color: #FFF;
	width: 500px;
	text-align: center;
	margin-left: 30%;
	border-radius: 20px;
}

