// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profilepageavatar{
	margin-left: 30px;
	margin-top: 25px;
	position: absolute;
}

.useritemwrapper{
	margin-bottom: 50px;
	text-align: center;
	background: #A76767;
	width: 500px;
	border-radius: 20px;
	margin-left: 40%;
	margin-top: 80px;
}
.useritemstitle{
	
	background: #7E4343;
	color: white;
	width: 500px;
	text-align: center;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;

}

.userpostsstyle{
	color: white;
}

.userbiowrapper{
	margin-bottom: 50px;
	text-align: center;
	background: #A76767;
	width: 300px;
	border-radius: 20px;
	margin-left: 2%;
	margin-top: 250px;
	color: #FFF;
	position: absolute;
}
.userbiotitle{
	background: #7E4343;
	color: white;
	width: 300px;
	text-align: center;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}
